{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 1%",
          "Chrome >= 14",
          "Safari >= 4",
          "Firefox >= 4",
          "Opera >= 10",
          "Edge >= 41",
          "not ie <= 7",
          "iOS >= 6",
          "ChromeAndroid >= 4",
          "OperaMobile >= 12"
        ]
      }
    }]
  ],
  "plugins": ["transform-object-assign"]
}
